<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="warn" strict="true">
  <Appenders>
    <Appender type="Console" name="STDOUT">
      <Layout type="PatternLayout" pattern="[%d{dd/MM/yyyy HH:mm:ss}] - %5p - %90l - %m %n" />
    </Appender>
    <File name="monLog" fileName="logs/app.log">
      <Layout type="PatternLayout" pattern="[%d{dd/MM/yyyy HH:mm:ss}] - %5p - %90l - %m %n" />
    </File>
  </Appenders>

  <Loggers>
    <Logger name="com.dvlk" level="DEBUG" additivity="false">
      <AppenderRef ref="STDOUT" />
      <AppenderRef ref="monLog" />
    </Logger>

    <Root level="WARN">
      <AppenderRef ref="STDOUT" />
      <AppenderRef ref="monLog" />
    </Root>
  </Loggers>

</Configuration>